<html>
  <body>
    <h1><%= result %></h1>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:8080/import' 
      method='post' 
      encType="multipart/form-data">
        <select id="importType" name="importType">
            <option value="users">Users</option>
            <option value="products">Products</option>
            <option value="transactions">Transactions</option>
        </select>
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>